@using WebMatrix.Data;
@{
    App app = new App();
}

@if (app.user.IsLoggedIn())
{
    Layout = "~/_layout.cshtml";
    Database db = app.db;

    dynamic currentuser = app.user.getUser();
    int usersoort = int.Parse(currentuser["userType"].ToString());
    // string usermail = currentuser["email"].ToString();

    /* string usertype = "";
     if (usermail.Split('@')[1] == "nhl.nl")
     {
         usertype = "student";
     }
     else
     {
         usertype = "docent";
     }*/
    string usertype = "";
    if (usersoort == 0)
    {
        usertype = "student";
    }
    else if (usersoort == 1)
    {
        usertype = "docent";
    }
    else if (usersoort == 2)
    {
        usertype = "admin";
    }

    @section Head {
        <!--link rel="stylesheet" type="text/css" href="~/Includes/CSS/Overzicht.css" /-->
        <link rel="stylesheet" type="text/css" href="~/css/overzichtstyle_oudje.css" />
    }
    @section Nav {

    }
    @section Main
    {
        @if (usertype == "student")
        {
            //dynamic currentuser = app.user.getUser();
            int userID = int.Parse(currentuser["Id"].ToString());

            var vstudieID = db.QueryValue("SELECT StudieID FROM users WHERE Id=@0", userID);
            int studieID = Convert.ToInt32(vstudieID);

            var vakCommand = "SELECT Id, naam FROM courses WHERE studieID =@0";
            var vakken = db.Query(vakCommand, userID);

            if (IsPost)
            {
                int eId = Convert.ToInt32(Request.Form["enrollen"]);
                string gebruikerstype = "student";

                var CoCommand = "SELECT COUNT(id) FROM courses WHERE Id =@0";
                int CountCourse = Convert.ToInt32(db.QueryValue(CoCommand, eId));

                var CoECommand = "SELECT COUNT(id) FROM enrolled WHERE CourseID =@0 AND UserId =@1 AND status =0";
                int ECourse = Convert.ToInt32(db.QueryValue(CoECommand, eId, userID));

                if (CountCourse == 1 && ECourse == 1)
                {
                    var updCommand = "UPDATE enrolled SET status = 1 WHERE usertype =0 AND CourseID =@0 AND UserId =@1";
                    db.Execute(updCommand, eId, userID);
                    <p>enrolled voor het vak</p>
                }
                else
                {
                    <p class="error">enrolled failed</p>
                }
            }

            //var CoECCommand = "SELECT COUNT(id) FROM courses WHERE studieID =@0";
            //int CountECourse = Convert.ToInt32(db.QueryValue(CoECCommand, studieID));

            var CoEnrCommand = "SELECT COUNT(id) FROM enrolled WHERE UserId =@0 AND status =0";
            int EnrCourse = Convert.ToInt32(db.QueryValue(CoEnrCommand, userID));

            if (EnrCourse >= 1)
            {
                var vakkCommand = "SELECT courses.Id, courses.naam AS naam FROM courses INNER JOIN enrolled ON enrolled.CourseID=courses.Id AND enrolled.UserId=@0 AND enrolled.status=0 AND enrolled.usertype =0";
                var vakjes = db.Query(vakkCommand, userID);

                //string naampjes = "SELECT Id, naam FROM enrolled INNER JOIN courses ON courses.Id = enrolled.courseID WHERE period=1";
                //dynamic vakken = db.Query(naampjes, studieID);
                <div class="cellcontainer">
                    <h2>Enroll</h2>
                    <form action="~/enroll.cshtml" method="post">
                        <select name="enrollen">
                            @foreach (var record in vakjes)
                            {
                                <option value="@record.Id">@record.naam</option>

                            }
                        </select>
                        <input type="submit" value="enroll" class="waves-effect waves-light btn" />
                    </form>
                </div>
            }


        }
        //als gebruiker is docent
        else
        {
            //dynamic currentuser = app.user.getUser();
            int userID = int.Parse(currentuser["Id"].ToString());

            //int userID = 1;

            var vstudieID = db.QueryValue("SELECT StudieID FROM admins WHERE Id=@0", userID);
            int studieID = Convert.ToInt32(vstudieID);


            if (IsPost)
            {
                int eId = Convert.ToInt32(Request.Form["enrollen"]);
                string sactie = Request.Form["actie"];

                //auto enroll students
                if (sactie == "autoenroll")
                {
                    //string gebruikerstype = "docent";
                    int gebruikersoort = 0;

                    var CoCommand = "SELECT COUNT(id) FROM courses WHERE Id =@0";
                    int CountCourse = Convert.ToInt32(db.QueryValue(CoCommand, eId));

                    var CoECommand = "SELECT COUNT(id) FROM enrolled WHERE CourseID =@0 AND UserId =@1 AND usertype=0";
                    int ECourse = Convert.ToInt32(db.QueryValue(CoECommand, eId, userID));

                    if (CountCourse == 1 && ECourse == 0)
                    {
                        var updCommand = "UPDATE enrolled SET status = 1 WHERE usertype =@0 AND CourseID =@1 AND Status =0";
                        db.Execute(updCommand, gebruikersoort, eId);
                        <p>auto enrolled voor het vak</p>
                    }
                    else
                    {
                        <p class="error">enrolled failed</p>
                    }
                }
                //enroll docent self
                else if (sactie == "enrolldocent")
                {
                    var CoCommand = "SELECT COUNT(id) FROM courses WHERE Id =@0";
                    int CountCourse = Convert.ToInt32(db.QueryValue(CoCommand, eId));

                    var CoECommand = "SELECT COUNT(id) FROM enrolled WHERE CourseID =@0 AND UserId =@1 AND usertype =1";
                    int ECourse = Convert.ToInt32(db.QueryValue(CoECommand, eId, userID));

                    //string gebruikerstype = "student";

                    if (CountCourse == 1 && ECourse == 1)
                    {
                        var updCommand = "UPDATE enrolled SET status = 1 WHERE usertype =1 AND CourseID =@0 AND UserId =@1";
                        db.Execute(updCommand, eId, userID);
                        <p>enrolled voor het vak</p>
                    }
                    else
                    {
                        <p class="error">enrolled failed</p>
                    }
                }


            }


            //display enroll auto students
            var vakCommand = "SELECT Id, naam FROM courses WHERE studieID =@0";
            var vakken = db.Query(vakCommand, userID);

            <h2>Auto Enroll Students</h2>
            <form action="~/enroll.cshtml" method="post">
                <input type="hidden" name="actie" value="autoenroll" />
                <select name="enrollen">
                    @foreach (var recrod in vakken)
                    {

                        <option value="@recrod.Id">@recrod.naam</option>

                    }
                </select>
                <input type="submit" value="auto enroll all students" class="waves-effect waves-light btn" />
            </form>

            //enroll docent self
            //var vakdCommand = "SELECT Id, naam FROM courses WHERE studieID =@0";
            //var vakkend = db.Query(vakdCommand, userID);

            var CoEnrCommand = "SELECT COUNT(id) FROM enrolled WHERE UserId =@0 AND status =0 AND usertype =1";
            int EnrCourse = Convert.ToInt32(db.QueryValue(CoEnrCommand, userID));

            if (EnrCourse >= 1)
            {
                var vakkCommand = "SELECT courses.Id, courses.naam AS naam FROM courses INNER JOIN enrolled ON enrolled.CourseID=courses.Id AND enrolled.UserId=@0 AND enrolled.status=0 AND enrolled.usertype=1";
                var vakjes = db.Query(vakkCommand, userID);

                <h2>Enroll Self</h2>
                <form action="~/enroll.cshtml" method="post">
                    <input type="hidden" name="actie" value="enrolldocent" />
                    <select name="enrollen">
                        @foreach (var record in vakjes)
                        {

                            <option value="@record.Id">@record.naam</option>

                        }
                    </select>
                    <input type="submit" value="enroll self" class="waves-effect waves-light btn" />
                </form>
            }

        }

    }
}


