@using WebMatrix.Data;
@{
    App app = new App();
}
@if (app.user.IsLoggedIn())
{
    Layout = "~/_layout.cshtml";
    Database db = app.db;
    dynamic currentuser = app.user.getUser();
    int userID = int.Parse(currentuser["Id"].ToString());
    int userType = int.Parse(currentuser["usertype"].ToString());
    var vstudieID = db.QueryValue("SELECT StudieID FROM users WHERE Id=@0", userID);

    @section Head
    {
        <link rel="stylesheet" type="text/css" href="~/Includes/CSS/Overzicht.css" />

        <!--link rel="stylesheet" type="text/css" href="~/css/overzichtstyle_oudje.css" /-->
    }

    @section Nav
    {
        <a href="~/enroll.cshtml">Enroll</a>
    }

    @section Main{
        <div id="overzichtblokken">
            <div id="overzichtblokkenrow">
                @if (currentuser["usertype"] == 0)
                {
                    for (int i = 1; i < 5; i++)
                    {
                        <div id="periode@(i)" class="periode">
                            @{
                                string data = "SELECT courseID, naam, status, resultaat FROM courses INNER JOIN enrolled ON courses.Id = enrolled.courseID AND enrolled.UserId=@0 AND enrolled.usertype=@1 WHERE period=@2 AND subfolder=0 AND status=1";
                                dynamic courses = db.Query(data, userID, userType, i);
                            }
                            <div class="cellcontainer">
                                <div class="titelvak@(i)"><h2>Periode @i</h2></div>
                                <table>
                                    @foreach (dynamic vak in courses)
                                    {
                                        <tr class="vak">
                                            <td>
                                                @switch (int.Parse(vak["resultaat"].ToString()))
                                                {

                                                    case 0:
                                                        <img src="~/css/lopend.jpg" />
                                                        break;
                                                    case 1:
                                                        <img src="~/css/vinkje.jpg" />
                                                        break;
                                                    case 2:
                                                        <img src="~/css/kruisje.jpg" />
                                                        break;
                                                    default: <img src="~/css/lopend.jpg" />
                                                        break;
                                                }
                                            </td>
                                            <td>
                                                <a href="~/Course.cshtml?id=@vak.courseId">@vak["naam"]</a>
                                            </td>



                                        </tr>
                                    }


                                </table>
                            </div>
                        </div>
                    }


                }
                else
                {
                    for (int i = 1; i < 5; i++)
                    {
                        <div id="periode@(i)" class="periode">
                            @{
                                string data = "SELECT courseID, naam, status FROM courses INNER JOIN enrolled ON courses.Id = enrolled.courseID AND enrolled.UserId=@0 AND enrolled.usertype=@1 WHERE period=@2 AND status=1";
                                dynamic courses = db.Query(data, userID, userType, i);
                            }
                            <div class="cellcontainer">
                                <div class="titelvak@(i)"><h2>Periode @i</h2></div>
                                <table>
                                    @foreach (dynamic vak in courses)
                                    {
                                        <tr class="vak">
                                            <td>
                                                <img id="dot" src="~/Includes/Images/dot.jpg" />
                                                <a href="~/Course.cshtml?id=@vak.courseId">@vak["naam"]</a>
                                            </td>



                                        </tr>
                                    }


                                </table>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    }
}
else
{


    @RenderPage("/NotLoggedIn.cshtml")
}

