@{
    App app = new App();
    // Database db = Database.Open("TodoDbCntStrng");

}

@if (app.user.IsLoggedIn())
{
    Database db = app.db;
    //Database db = Database.Open("ToDoDbCntStrng");

    var content = db.Query($"SELECT * FROM course_items WHERE CourseID={Request.QueryString["id"]} ORDER BY Id desc");

    <head>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Crete+Round" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/Includes/CSS/Overzicht.css" />

        <script src="~/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/js/materialize.min.js"></script>
        <script type="text/javascript" src="~/js/JavaScript.js"></script>
    </head>
    <body>
        @RenderPage("_header.cshtml")
        <div class="row">
            <div class="contentAdd col l2">
                <a href="~/Item.cshtml?item=text&id=@Request.QueryString["id"]" class="addText unselectable">
                    <span class="text center">
                        <text>Klik voor text</text>
                    </span>
                </a>
                <a href="~/Item.cshtml?item=file&id=@Request.QueryString["id"]" class="addFile unselectable">
                    <span class="bestand center">
                        <text>Klik voor een bestand</text>
                    </span>
                </a>
                <a href="~/Item.cshtml?item=iframe&id=@Request.QueryString["id"]" class="addFile unselectable">
                    <span class="bestand center">
                        <text>Klik voor een iFrame</text>
                    </span>
                </a>
            </div>
            <div class="contentCourse col l10">
                @foreach (var item in content)
                {

                    string t = item.description;
                    string f = item.filename;
                    <div class="itemCourse">
                        <h3>@item.naam</h3>
                        <p><a href="@f" download="@Path.GetFileName(f)">@Path.GetFileName(f)</a></p>
                        @if (t != null)
                    {
                            <p>@Html.Raw(t.Replace("\n", "<br />"))</p>
                        }

                    </div>


                }
            </div>
        </div>
    </body>
}