@using WebMatrix.Data;
@{
    App app = new App();
}


@if (app.user.IsLoggedIn())
{
    Database db = app.db;

    dynamic currentuser = app.user.getUser();
    int usersoort = int.Parse(currentuser["userType"]);
    // string usermail = currentuser["email"].ToString();

    /* string usertype = "";
     if (usermail.Split('@')[1] == "nhl.nl")
     {
         usertype = "student";
     }
     else
     {
         usertype = "docent";
     }*/
    string usertype = "";
    if (usersoort ==1) {
        usertype= "student";
    }
    else if (usersoort == 2)
    {
        usertype = "docent";
    }
    else if (usersoort == 3)
    {
        usertype = "admin";
    }

    <head>
        <!--<link rel="stylesheet" type="text/css" href="~/css/overzichtstyle.css" />-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
        <!--<link rel="stylesheet" type="text/css" href="~/Includes/CSS/Overzicht.css" />-->
        <link rel="stylesheet" type="text/css" href="~/css/overzichtstyle_oudje.css" />
        <link rel="stylesheet" type="text/css" href="~/css/header.css" />
    </head>
    <body>
        <header>
            <!--RenderPage("menu.cshtml")-->
        </header>
        <main>
            @{

                //als gebruiker is student
                if (usertype == "student")
                {

                    //dynamic currentuser = app.user.getUser();
                    int userID = int.Parse(currentuser["Id"].ToString());

                    var vstudieID = db.QueryValue("SELECT StudieID FROM users WHERE Id=@0", userID);
                    int studieID = Convert.ToInt32(vstudieID);

                    var vakCommand = "SELECT Id, naam FROM courses WHERE studieID =@0";
                    var vakken = db.Query(vakCommand, userID);

                    if (IsPost)
                    {
                        int eId = Convert.ToInt32(Request.Form["enrollen"]);
                        string gebruikerstype = "student";

                        var CoCommand = "SELECT COUNT(id) FROM courses WHERE Id =@0";
                        int CountCourse = Convert.ToInt32(db.QueryValue(CoCommand, eId));

                        var CoECommand = "SELECT COUNT(id) FROM enrolled WHERE CourseID =@0 AND UserId =@1";
                        int ECourse = Convert.ToInt32(db.QueryValue(CoECommand, eId, userID));

                        if (CountCourse == 1 && ECourse == 0)
                        {
                            var updCommand = "UPDATE enrolled SET status = 1 WHERE usertype =@0 AND CourseID =@1 AND UserId =@2";
                            db.Execute(updCommand, gebruikerstype, eId, userID);
                            <p>enrolled voor het vak</p>
                        }
                        else
                        {
                            <p class="error">enrolled failed</p>
                        }
                    }

                    //var CoECCommand = "SELECT COUNT(id) FROM courses WHERE studieID =@0";
                    //int CountECourse = Convert.ToInt32(db.QueryValue(CoECCommand, studieID));

                    var CoEnrCommand = "SELECT COUNT(id) FROM enrolled WHERE UserId =@0 AND status =0";
                    int EnrCourse = Convert.ToInt32(db.QueryValue(CoEnrCommand, userID));

                    if (EnrCourse >= 1)
                    {
                        var vakkCommand = "SELECT Id FROM enrolled WHERE UserId =@0 AND status =0";
                        var vakjes = db.Query(vakkCommand, userID);

                        //string naampjes = "SELECT Id, naam FROM enrolled INNER JOIN courses ON courses.Id = enrolled.courseID WHERE period=1";
                        //dynamic vakken = db.Query(naampjes, studieID);

                        <h2>Enroll</h2>
                        <form action="~/enroll.cshtml" method="post">
                            <select name="enrollen">
                                @foreach (var recrod in vakjes)
                                {
                                    var vaknCommand = "SELECT naam FROM courses WHERE Id =@0";
                                    var vaknaam = db.Query(vaknCommand, recrod.Id);

                                    <option value="@recrod.Id">@vaknaam</option>

                                }
                            </select>
                            <input type="submit" value="enroll" />
                        </form>
                    }


                }
                //als gebruiker is docent
                else
                {
                    //dynamic currentuser = app.user.getUser();
                    int userID = int.Parse(currentuser["Id"].ToString());

                    //int userID = 1;

                    var vstudieID = db.QueryValue("SELECT StudieID FROM admins WHERE Id=@0", userID);
                    int studieID = Convert.ToInt32(vstudieID);


                    if (IsPost)
                    {
                        int eId = Convert.ToInt32(Request.Form["enrollen"]);
                        string sactie = Request.Form["actie"];

                        if (sactie == "autoenroll")
                        {
                            string gebruikerstype = "student";

                            var CoCommand = "SELECT COUNT(id) FROM courses WHERE Id =@0";
                            int CountCourse = Convert.ToInt32(db.QueryValue(CoCommand, eId));

                            var CoECommand = "SELECT COUNT(id) FROM enrolled WHERE CourseID =@0 AND UserId =@1";
                            int ECourse = Convert.ToInt32(db.QueryValue(CoECommand, eId, userID));

                            if (CountCourse == 1 && ECourse == 0)
                            {
                                var updCommand = "UPDATE enrolled SET status = 1 WHERE usertype =@0 AND CourseID =@1 AND Status =0";
                                db.Execute(updCommand, gebruikerstype, eId);
                                <p>auto enrolled voor het vak</p>
                            }
                            else
                            {
                                <p class="error">enrolled failed</p>
                            }
                        }
                        else if (sactie == "enrolldocent")
                        {
                            var CoCommand = "SELECT COUNT(id) FROM courses WHERE Id =@0";
                            int CountCourse = Convert.ToInt32(db.QueryValue(CoCommand, eId));

                            var CoECommand = "SELECT COUNT(id) FROM enrolled WHERE CourseID =@0 AND UserId =@1";
                            int ECourse = Convert.ToInt32(db.QueryValue(CoECommand, eId, userID));

                            string gebruikerstype = "student";

                            if (CountCourse == 1 && ECourse == 0)
                            {
                                var updCommand = "UPDATE enrolled SET status = 1 WHERE usertype =@0 AND CourseID =@1 AND UserId =@2";
                                db.Execute(updCommand, gebruikerstype, eId, userID);
                                <p>enrolled voor het vak</p>
                            }
                            else
                            {
                                <p class="error">enrolled failed</p>
                            }
                        }


                    }


                    //display enroll auto students
                    var vakCommand = "SELECT Id, naam FROM courses WHERE studieID =@0";
                    var vakken = db.Query(vakCommand, userID);

                    <h2>Auto Enroll Students</h2>
                    <form action="~/enroll.cshtml" method="post">
                        <input type="hidden" name="actie" value="autoenroll" />
                        <select name="enrollen">
                            @foreach (var recrod in vakken)
                            {

                                <option value="@recrod.Id">@recrod.naam</option>

                            }
                        </select>
                        <input type="submit" value="auto enroll all students" />
                    </form>

                    //enroll docent
                    var vakdCommand = "SELECT Id, naam FROM courses WHERE studieID =@0";
                    var vakkend = db.Query(vakdCommand, userID);

                    var CoEnrCommand = "SELECT COUNT(id) FROM enrolled WHERE UserId =@0 AND status =0";
                    int EnrCourse = Convert.ToInt32(db.QueryValue(CoEnrCommand, userID));

                    if (EnrCourse >= 1)
                    {
                        <h2>Enroll Self</h2>
                        <form action="~/enroll.cshtml" method="post">
                            <input type="hidden" name="actie" value="enrolldocent" />
                            <select name="enrollen">
                                @foreach (var record in vakkend)
                                {

                                    <option value="@record.Id">@record.naam</option>

                                }
                            </select>
                            <input type="submit" value="enroll self" />
                        </form>
                    }




                }
            }
        </main>
        <footer>
            <!--RenderPage("footer.cshtml")-->
        </footer>
    </body>
 }


